<%= form_tag("/users/search",method: :get) do%>
  <%= label_tag :友達検索%>
  <%= text_field_tag :search_nickname%>
  <%= submit_tag "検索"%>
<% end %>
<hr>
<table>
  <tbody>
    <thead>
      <tr>
        <th>ニックネーム</th>
      </tr>
    </thead>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to "#{user.nickname}", user_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

