<h1><%=@user.nickname%>のマイページ</h1>
<%= image_tag @user.user_icon.url,size: "200x200",class: "icon" %>
<%= "投稿件数 #{@user.posts.count}件"%>
<%= link_to "フォロー中 #{@user.followings.count} 人", following_user_path(@user) %>
<%= link_to "フォロワー#{@user.followers.count} 人", followers_user_path(@user) %>
<%= link_to "プロフィールを編集",edit_user_registration_path, class: "btn btn-light byn-block text-warning" %>
<%= render "follow_button", user: @user %>




<%# 投稿一覧 %>
<% @user.posts.each do |post| %>
  <section class="card border-dark mt-5 mx-auto" style="width: 400px;">
    <div class="card-header">
      <%= image_tag @user.user_icon.url,size: "50x50",class: "icon" %>
      <h4><%= @user.nickname %></h4>
      <%# ナビーゲーションバー %>
      <nav class="navbar navbar-expand-lg navbar-light mx-auto ">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <%= link_to "詳細", post%>
            </li>
            <li class="nav-item">
              <% if post.user_id==current_user.id %>
                <%= link_to "編集",edit_post_path(post) %>
              <% end %>
            </li>
            <li class="nav-item">
              <% if post.user_id==current_user.id %>
                <%= link_to "削除",post,method: :delete,data:{confirm: "削除しますか"} %>
              <% end %>
            </li>
          </ul>
        </div>
      </nav>  
    </div>
    <% if post.image? %>
      <div class="card-img-top"><%= image_tag post.image.url %></div>
    <% end %>
    <div class="card-body">
      <p class="card-text"><%= simple_format(h post.content) %></p>
    </div>
  </section>
<% end %>