<h1>投稿詳細</h1>

<section class="card border-dark mt-5">
<div class="card-header">
  <h4><%= @post.user.nickname %></h4>
</div>
<div class="card-body">
  <% if @post.image? %>
    <p class="card-text"><%= image_tag @post.image.url %></p>
    <p class="card-text"><%= simple_format(h @post.content) %></p>
  <% end %>
  <%# いいね機能 %>
  <p id="post-<%= @post.id %>">
    <% if @post.liked_by?(current_user) %>
      <%= render "like", post: @post %>
    <% else %>
    <%= render "dislike",post: @post %>
    <% end %>
  </p>
</div>
</section>






