<h1 class="text-center">投稿詳細</h1>

<section class="card border-dark mt-5 mx-auto" style="width: 400px;" >
<ul class="card-header">
  <li><%= image_tag @post.user.user_icon.url,size: "50x50",class: "icon" %></li>
  <li><h4><%= @post.user.nickname %></h4></li>
  <%#ドロップダウン%>
  <li>
    <div class="dropdown">
      <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      </button>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <%= link_to "投稿詳細", @post,class: "Editlink dropdown-item"%>
        <% if @post.user_id==current_user.id %>
          <%= link_to "編集",edit_post_path(@post),class: "Editlink dropdown-item" %>
        <% end %>
        <% if @post.user_id==current_user.id %>
          <%= link_to "削除",@post,method: :delete,data:{confirm: "削除しますか"},class: "Editlink dropdown-item" %>
        <% end %>
      </div>
    </div>
  </li>  
</ul>

<% if @post.image? %>
  <div class="card-img-top"><%= image_tag @post.image.url %></div>
<% end %>
<div class="card-body">
  <p class="card-text"><%= simple_format(h @post.content) %></p>
  <%# いいね機能 %>
  <p id="post-<%= @post.id %>">
    <% if @post.liked_by?(current_user) %>
      <%= render "like", post: @post %>
    <% else %>
    <%= render "dislike",post: @post %>
    <% end %>
  </p>
  
</div>
</section>








