<nav class="navbar navbar-expand-sm navbar-dark fixed-top" style="background-color:#ffd803;">
  <span class="navbar-brand">instagram</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
    <div class="navbar-nav">
    <% if user_signed_in? %>
      <%= form_tag("/users/search",method: :get, class: "nav-item nav-link active ") do%>
        <%= label_tag :友達検索%>
        <%= text_field_tag :search_nickname %><button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
      <% end %>

      <%= link_to posts_path, class: "nav-item nav-link active"  do %>
        <i class="fas fa-home fa-2x"></i>
      <% end %>

      <%= link_to  new_post_path, class: "nav-item nav-link active"  do %>
        <i class="fas fa-edit fa-2x"></i>
      <% end %>

      <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= image_tag current_user.user_icon.url,size: "40x40",class: "icon" %>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <%= link_to "マイページ",user_path(current_user.id), class:"dropdown-item" %>
          <%= link_to 'ログアウト', destroy_user_session_path,method: :delete, class:"dropdown-item"%>
        </div>
      </div>
    





    <% else %>
      <%= link_to 'ログイン',  new_user_session_path, class: "nav-item nav-link active"%>
      <%= link_to "新規登録", new_user_registration_path, class: "nav-item nav-link active"%>
    <% end %>
      
    </div>
  </div>
</nav>
      